body {
	font-family: 'Courier';
	-webkit-font-smoothing: antialiased;
	 text-rendering: optimizeLegibility;
	 font-feature-settings: "kern";
	 -webkit-font-feature-settings: "kern";
	background-color:rgba(0,0,0,1); 
	color: white;
	overflow: hidden;
	margin: 0;
}


h1 {
	font-size: 60px;
	font-style: normal;
	font-weight: 400;
}

i {
	font-style: italic;
	font-weight: 400;
}

.container {
	box-sizing: border-box;
	display: table-cell;
	width: 1080px;
	height: 1920px;
	vertical-align: top;
	font-size: 40px;
	margin: 0;
	padding:50px;
}
